
.cover {
    position: absolute;
    background-color: rgba(255,255,255,0.5);
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 1s;
    
}

canvas {
    position: absolute;
    
}
img {
    position: absolute;
}

.background {
    position: absolute;
    display: none;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0,0,0,0.3);
}

.font {
    position: relative;
    width: 200px;
    height: 30px;
    box-shadow: none;
}

.title {
    position: relative;
    width: 100%;
    background-color: rgb(54,54,54);
}

.content {
    position: relative;
    width: 100%;
    min-height: 100px;
    background-color: orange;
}