
.menu {
    position: absolute;
    width: 100px;
    height: 500px;
    top: 30px;
    left: 10px;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    z-index: 2000;
}

.window {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    /* background-color: rgb(30, 30, 40); */
    overflow: hidden;
    z-index: 1000;
}

.info {
    position: absolute;
    float: right;
    top: 30px;
    right: 10px;
    width: 250px;
    height: 90vh;
    background-color: rgb(50, 50, 50);
    border-radius: 10px;
    border-top: 20px solid rgb(50, 50, 50);
    border-left: 16px solid rgb(50, 50, 50);
    border-right: 16px solid rgb(50, 50, 50);
    box-sizing: border-box;
    line-height: 30px;
    z-index: 3000;
}

.editor {
    position: absolute;
    z-index: 4000;
}
.palette {
    position: absolute;
    z-index: 4001;
}

.hide {
    display: none;
}

.favorite {
    position: absolute;
    z-index: 3000;

    top: 90vh;
    left: 50vw;
    width: 60vw;
    max-width: 500px;
    height: 8vh;
    transform: translateX(-50%);
    /* background-color: blueviolet; */
    border-radius: 10px;
    overflow-y: auto;
}

.title {
    position: absolute;
    z-index: 3000;

    top: 2vh;
    left: 50vw;
    width: 60vw;
    max-width: 500px;
    height: 50px;
    transform: translateX(-50%);
    /* background-color: blueviolet; */
    border-radius: 10px;
    overflow-y: auto;
}